# Global Power Plant Data

`Tynan Purdy`

## Imports and Major Variables

In [1]:
import numpy as np
import pandas as pd
import csv
from pprint import pprint

path = "data\global-power-plants\global_power_plant_database.csv"

### File Import to DataFrame

In [32]:
with open(path, encoding='utf8') as fin:
    ppd = pd.read_csv(fin, low_memory=False)

ppd.iloc[1:10]

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.00,31.6700,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.00,31.6230,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.00,34.5560,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.00,34.6410,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
5,AFG,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,GEODB0040536,11.55,34.4847,70.3633,Hydro,NaN,NaN,...,58.77,54.42,42.71,59.72,46.12,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
6,AFG,Afghanistan,Northwest Kabul Power Plant Afghanistan,GEODB0040540,42.00,34.5638,69.1134,Gas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NO-ESTIMATION,NO-ESTIMATION,NO-ESTIMATION,NO-ESTIMATION,NO-ESTIMATION
7,AFG,Afghanistan,Pul-e-Khumri Hydroelectric Power Plant Afghani...,GEODB0040537,6.00,35.9416,68.7100,Hydro,NaN,NaN,...,21.99,21.19,18.40,25.34,19.74,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
8,AFG,Afghanistan,Sarobi Dam Hydroelectric Power Plant Afghanistan,GEODB0040535,22.00,34.5865,69.7757,Hydro,NaN,NaN,...,123.23,82.87,69.15,93.83,80.00,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
9,ALB,Albania,Bistrica 1,WRI1002169,27.00,39.9116,20.1047,Hydro,NaN,NaN,...,105.17,75.26,79.50,105.45,88.45,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

Was having trouble opening the file due to an encode error that seemed to be triggered by a particular character. Code below is designed to locate that character.

In [ ]:
with open(path, encoding='utf8') as fin:
    linenum = 1
    while True:
        cellnum = 0
        for cell in fin.readline().split(","):
            cellnum += 1
            try:
                if cell: print(({linenum:cellnum},cell))
            except: 
                print(f'failed on char {cellnum} on line {linenum}')
        linenum += 1
print('done')

Error turned out to be that the original file object needed to specify its encoding format, not at the dataframe declaration.

## Removing Unwanted Data

In [36]:
ppd.iloc[0:5]

,country,country_long,name,capacity_mw,primary_fuel,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.0,Hydro,NaN,NaN,NaN,NaN,NaN,123.77,162.90,97.39,137.76,119.50
1,AFG,Afghanistan,Kandahar DOG,10.0,Solar,NaN,NaN,NaN,NaN,NaN,18.43,17.48,18.25,17.70,18.29
2,AFG,Afghanistan,Kandahar JOL,10.0,Solar,NaN,NaN,NaN,NaN,NaN,18.64,17.58,19.10,17.62,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.0,Hydro,NaN,NaN,NaN,NaN,NaN,225.06,203.55,146.90,230.18,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100.0,Hydro,NaN,NaN,NaN,NaN,NaN,406.16,357.22,270.99,395.38,350.80

In [33]:
unwanted_columns = ['latitude',
                    'longitude',
                    'other_fuel1',
                    'other_fuel2',
                    'other_fuel3',
                    'commissioning_year',
                    'gppd_idnr',
                    'owner',
                    'source',
                    'url',
                    'geolocation_source',
                    'wepp_id',
                    'year_of_capacity_data',
                    'generation_data_source',
                    'generation_gwh_2018',
                    'generation_gwh_2019',
                    'estimated_generation_note_2013',
                    'estimated_generation_note_2014',
                    'estimated_generation_note_2015',
                    'estimated_generation_note_2016',
                    'estimated_generation_note_2017']
ppd.drop(unwanted_columns, axis=1, inplace=True)

In [19]:
ppd.iloc[0:4]

,country,country_long,name,capacity_mw,latitude,longitude,primary_fuel,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.0,32.322,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.77,162.90,97.39,137.76,119.50
1,AFG,Afghanistan,Kandahar DOG,10.0,31.670,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.43,17.48,18.25,17.70,18.29
2,AFG,Afghanistan,Kandahar JOL,10.0,31.623,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.64,17.58,19.10,17.62,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.0,34.556,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.06,203.55,146.90,230.18,174.91

## Converting Column DataTypes

Columns with numeric values (gigawatt generation, capacity) converted to float.

In [27]:
numeric_columns = ['capacity_mw',
                   'generation_gwh_2013',
                   'generation_gwh_2014',
                   'generation_gwh_2015',
                   'generation_gwh_2016',
                   'generation_gwh_2017',
                   'estimated_generation_gwh_2013',
                   'estimated_generation_gwh_2014',
                   'estimated_generation_gwh_2015',
                   'estimated_generation_gwh_2016',
                   'estimated_generation_gwh_2017']
ppd[numeric_columns] = ppd[numeric_columns].apply(pd.to_numeric)
ppd[:10]['estimated_generation_gwh_2017']

0    119.50
1     18.29
2     18.72
3    174.91
4    350.80
5     46.12
6       NaN
7     19.74
8     80.00
9     88.45
Name: estimated_generation_gwh_2017, dtype: float64

In [34]:
ppd.iloc[0:5]

,country,country_long,name,capacity_mw,primary_fuel,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.0,Hydro,NaN,NaN,NaN,NaN,NaN,123.77,162.90,97.39,137.76,119.50
1,AFG,Afghanistan,Kandahar DOG,10.0,Solar,NaN,NaN,NaN,NaN,NaN,18.43,17.48,18.25,17.70,18.29
2,AFG,Afghanistan,Kandahar JOL,10.0,Solar,NaN,NaN,NaN,NaN,NaN,18.64,17.58,19.10,17.62,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.0,Hydro,NaN,NaN,NaN,NaN,NaN,225.06,203.55,146.90,230.18,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100.0,Hydro,NaN,NaN,NaN,NaN,NaN,406.16,357.22,270.99,395.38,350.80

In [35]:
sources = []
for source in ppd['primary_fuel']:
    if source not in sources: sources.append(source)
sources

['Hydro',
 'Solar',
 'Gas',
 'Other',
 'Oil',
 'Wind',
 'Nuclear',
 'Coal',
 'Waste',
 'Biomass',
 'Wave and Tidal',
 'Petcoke',
 'Geothermal',
 'Storage',
 'Cogeneration']

## Adding Aggregate Data